/* CSS code */
body {
     background: #B5E2FA; 
    padding: 20px;
    background: 0E41B0;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.profile-img{
    width: 355px;;
    border-radius: 49%;

}
.btn{
    display: block;
   color: white;
   padding: 15px;
   background:black;
   margin: 16px;
}
a{
    text-decoration: none;
}